body{
	background-color: black;
}

h1{
	text-align: left;
	color: grey;
}

p{
	text-align: left;
	color: white;
}

h2{
	text-align: left;
	color: grey;
}

img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: block;
	margin-right: auto;
}
ul{
	color: white;
}
li{
	color: white;
}